<p id="notice"><%= notice %></p>

<h1>Recintos</h1>

<table>
  <thead>
    <tr>
      <th>recinto_id</th>
      <th>Direccion recinto</th>
      <th>Numero recinto</th>
      <th>Comuna recinto</th>
      <th>Ciudad recinto</th>
      <th>Region recinto</th>
      <th>Pais recinto</th>
      <th>Ubicacion recinto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recintos.each do |recinto| %>
      <tr>
        <td><%= recinto.tipo_propiedad.name %></td>
        <td><%= recinto.direccion_recinto %></td>
        <td><%= recinto.numero_recinto %></td>
        <td><%= recinto.comuna_recinto %></td>
        <td><%= recinto.ciudad_recinto %></td>
        <td><%= recinto.region_recinto %></td>
        <td><%= recinto.pais_recinto %></td>
        <td><%= link_to 'Show', recinto %></td>
        <td><%= link_to 'Edit', edit_recinto_path(recinto) %></td>
        <td><%= link_to 'Destroy', recinto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recinto', new_recinto_path %>
