<p id="notice"><%= notice %></p>

<p>
  <strong>Recinto_id:</strong>
  <%= @propiedad.recinto_id %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @propiedad.direccion %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @propiedad.numero %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @propiedad.departamento %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @propiedad.rol %>
</p>

<p>
  <strong>Mt:</strong>
  <%= @propiedad.mt %>
</p>

<p>
  <strong>Coeficiente:</strong>
  <%= @propiedad.coeficiente %>
</p>

<p>
  <strong>Tipo propiedad:</strong>
  <%= @propiedad.tipo_propiedad %>
</p>

<p>
  <strong>Torre:</strong>
  <%= @propiedad.torre %>
</p>

<p>
  <strong>User:</strong>
  <%= @propiedad.user %>
</p>

<%= link_to 'Edit', edit_propiedad_path(@propiedad) %> |
<%= link_to 'Back', propiedads_path %>
